---
title: Le Wagon Middleman boilerplate
---

    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://68.media.tumblr.com/0effaf0edb5309d6fce242055c327321/tumblr_okc11r9Q491ta0hnbo1_1280.jpg');">
      <div class="banner-content">
        <h1>WELCOME HOME</h1>
        <p>Rent unique places to stay from local hosts in 190+ countries.</p>
        <a class="btn btn-primary btn-lg">how it works</a>
      </div>
    </div>
    <!-- Your features code -->
    <div class="container">
      <div class="text-center">
       <div class="image-set">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <img class="image" src="images/globe.png" alt="globe">
            <h2>Discover the world </h2>
            <p> The earth is your new home.</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <img class="image" src="images/dollar.png" alt="dollard">
            <h2>Pay online </h2>
            <p> No cash issues anymore.</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <img class="image" src="images/heart.png" alt="heart">
            <h2> Meet people</h2>
            <p> Discover new culture and lifestyle.</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <img class="image" src="images/beer.png" alt="beer">
            <h2>Share and love </h2>
            <p> Join a community you will love.</p>
          </div>
        </div><!--row-->
      </div><!--image set-->
    </div><!--text center-->
  </div><!--container-->
  <div class="wrapper-card">
    <div class="text-center">
      <h2>Your next trip</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/310');">
            <p class="card-city">Lisbon</p>
            <img src="https://unsplash.it/110" alt="landloard image" class="card-avatar avatar">
            <h2 class="card-description">Paillard's home</h2>
            <p class="card-home-description">Charming room with patio</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/300');">
            <p class="card-city">Barcelone</p>
            <img src="https://unsplash.it/120" alt="landloard image" class="card-avatar avatar">
            <h2 class="card-description">Cartillier's home</h2>
            <p class="card-home-description">Nice patio in barcelone</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/340');">
            <p class="card-city">Vienna</p>
            <img src="https://unsplash.it/140" alt="landloard image" class="card-avatar avatar">
            <h2 class="card-description">Olivier's home</h2>
            <p class="card-home-description">Nice appartment in Vienna</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-and-title padded">
    <div class="text-center">
      <h2>Get news from us</h2>
      <p>Leave us your mail and get news from us </p>
      <form action="#" class="form-inline">
        <input type="email" id="your-email" placeholder="bob@gmail.com" class="form-control">
        <input type="submit" value="Sign In" class="btn btn-primary">
      </form>
    </div><!-- text-center-->
  </div><!-- form -->
  <div id="map" style="width: 100%; height: 400px;"></div>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

      <script type="text/javascript">
      var myLatlng = new google.maps.LatLng(45.7402180, 4.8174150);

      var myOptions = {
        zoom: 14,
        center: myLatlng,
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles: [{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"on"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"gamma":"3.24"},{"hue":"#009aff"}]},{"featureType":"administrative.province","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f1f8fe"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.attraction","elementType":"all","stylers":[{"visibility":"on"},{"hue":"#009aff"}]},{"featureType":"poi.park","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road","elementType":"geometry","stylers":[{"visibility":"on"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"visibility":"off"}]},{"featureType":"road.highway","elementType":"labels.text","stylers":[{"visibility":"off"}]},{"featureType":"road.highway","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#b2dff2"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry","stylers":[{"visibility":"on"}]}]
      };

      var map = new google.maps.Map(document.getElementById('map'), myOptions);
      var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: "You are here!"

      });
      </script>
