<div class="text-center">
  <h1>Our team</h1>
  <ul class="list-inline text-center">
    <% ["boris", "seb", "romain"].each do |member| %>
      <li>
         <h3><%= member.capitalize %></h3>
        <%= image_tag "#{member}.jpg", class: "img-circle", class: "avatar-large" %>
      </li>
    <% end %>
  </ul>
  <i class="fa fa-envelope"></i><a href="mailto:#"> contact@airbnb.com</a>
</div>
